/*
 This file is not being used , this is just for the lsp
  */

@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://db.onlinewebfonts.com/c/781bc78d102a85d51a4e41734c2fe072?family=F.");

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

:root {
  --bg: #ffffff;
  --panel: #f8fafc;
  --text: #0a0b10;
  --muted: #6b7280;
  --primary: #5090f2;
}

.dark {
  --bg: #0a0b10;
  --panel: #0f1724;
  --text: #ffffff;
  --muted: #9ca3af;
  --primary: #5090f2;
}

/* use the vars globally */
body {
  background-color: var(--bg);
  color: var(--text);
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}
