version: '3.8'

services:
  database:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=nagmani
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 1s
      timeout: 10s
      retries: 10 

  mailhog:
    image: mailhog/mailhog
    logging:
      driver: 'none'  
    ports:
      - 1025:1025 # smtp server
      - 8025:8025 # web ui

